.contactInfo
{
   
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 100px;
        grid-row-gap: 10px;

}

.box-info
{
   background-color: aqua;
   
}

.info-image{
    margin: 0 5px;
}